#myNavbar{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    padding-right: 10px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.795);
    position: relative;
    top: 0;
    background-color: #47193e;
    font-size: 16px;
    align-items:baseline;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav{
    align-items: center;
}

#vazi-vazi{
    font-size: 1.6rem;
}

.gender{
    align-items: center;
}

#collasible-nav-dropdown{
    color: rgba(255, 255, 255, 0.795);
}

.form-group.nav-form{
    margin-bottom: 0 !important;
}

.navbar-toggler{
    background-color: #f4f2f5 !important;
}

.navbar-texts{
    color: rgba(255, 255, 255, 0.795) !important;
}