.modal{
    background-color: rgba(156, 151, 151, 0.548);
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-btns{
    width: 100%;
}